
/**
 * @extended as a default into animations
 */
.anim-fill-both {
  animation-fill-mode: both;
}

/**
 * timings
 * easings
 * bases
 * entrance
 * exit
 * emphasis
 * execute
 */
/**
 * Animation Timings classes
 * Start with these, timings and deviate to fine tune.
 */

 /**
  * Minimal set of 8 should cover most UI animations
  */
//  $timings: (
//   200,
//   300,
//   500,
//   700,
//  1000,
//  1500,
//  2000,
//  4000,
// );
//
// @each $speed in $timings {
//      .duration-#{$speed} {
//          animation-duration: #{$speed}ms ;
//      }
//  }

/**
 * Extended set for fine tuning and bespoke animations.
 */
@for $i from 1 through 40 {

   .fil-ani-delay-#{ $i * 100 } {
       animation-delay: #{ $i * 100 }ms;
   }
   //
  //  .anim-delay:nth-of-type( #{ $i } ) {
  //      animation-delay: #{ $i * 200 }ms;
  //  }

   .fil-ani-dur-#{ $i * 100 } {
       animation-duration: #{ $i * 100 }ms;
   }

}


/**
 * Easings
 *
 */

 $easein-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
 $easeout-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
 $easein-back: cubic-bezier(.57, .07, .6, 1.71);
 // $easeout-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
//custom
 $easeout-back:cubic-bezier(0.36, 0.51, 0.54, 1.16);

 .entrance {
   animation-timing-function: $easeout-quad;
 }
 .exit {
   animation-timing-function: $easein-quad;
 }
 .emphasis {
   animation-timing-function: $easeout-back;
 }
 .execute {
   animation-timing-function: $easein-back;
 }



// Entrances
.fil-ani-is-hidden {
  opacity: 0;
  pointer-events: none;
}
// fadein
@keyframes fil-ani-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fil-ani-fadeIn {
  animation-name: fil-ani-fadeIn;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

// fadein-scaleup
@keyframes fil-ani-fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0) scale(0.8, 0.8);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
  // transition: transform 300ms ease, opacity 200ms ease;
.fil-ani-fadeInUp {
   animation-name: fil-ani-fadeInUp;
   animation-fill-mode: both;
   animation-timing-function: $easeout-back;
}

// fadein-moveleft

@keyframes fil-ani-fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fil-ani-fadeInLeft {
  animation-name: fil-ani-fadeInLeft;
  animation-fill-mode: both;
  animation-timing-function: $easeout-back;
}

@keyframes fil-ani-fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fil-ani-fadeInRight {
  animation-name: fil-ani-fadeInRight;
  animation-fill-mode: both;
  animation-timing-function: $easeout-back;
}

/**

* fadein-moveright

* flipup-90
* flipdown-90
* flipleft-180


* Exits
* fadeout
* fadeout-scaledown
* fadeout-movedown-scaledown
* fadeout-moveup-scaleup (moved the UI towards the user past the screen, avoid?)

* fadeout-moveleft
* fadeout-moveright

* flipup-90
* flipdown-90

* flipdown-180

* flipright-180

* Emphasis
* pulse-scale
* pulse-outline
* light-flare
* spotlight
* flipdown-180
* flipleft-180
* flipright-180

* Execute
* move ( best left to JS animations )
* height ( best left to JS animations )
* buy-cta
* flash-secondary
* flash-primay
*/
