
/**
 * @extended as a default into animations
 */
.anim-fill-both {
  animation-fill-mode: both;
}
$animation-perspective: 800px;
/**
 * timings
 * easings
 * bases
 * entrance
 * exit
 * emphasis
 * execute
 */
/**
 * Animation Timings classes
 * Start with these, timings and deviate to fine tune.
 */

 /**
  * Minimal set of 8 should cover most UI animations
  */
//  $timings: (
//   200,
//   300,
//   500,
//   700,
//  1000,
//  1500,
//  2000,
//  4000,
// );
//
// @each $speed in $timings {
//      .duration-#{$speed} {
//          animation-duration: #{$speed}ms ;
//      }
//  }

/**
 * Extended set for fine tuning and bespoke animations.
 */
@for $i from 1 through 40 {

   .fil-ani-delay-#{ $i * 100 } {
       animation-delay: #{ $i * 100 }ms;
   }
   //
  //  .anim-delay:nth-of-type( #{ $i } ) {
  //      animation-delay: #{ $i * 200 }ms;
  //  }

   .fil-ani-dur-#{ $i * 100 } {
       animation-duration: #{ $i * 100 }ms;
   }

}


/**
 * Easings
 *
 */

$easein-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeout-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easein-back: cubic-bezier(.57, .07, .6, 1.71);
// $easeout-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
//custom
$back-easein:cubic-bezier(0.78,-0.21,0.84,0.78);
$easeout-back:cubic-bezier(0.36, 0.51, 0.54, 1.16);

.entrance {
 animation-timing-function: $easeout-quad;
}
.exit {
 animation-timing-function: $easein-quad;
}
.emphasis {
 animation-timing-function: $easeout-back;
}
.execute {
 animation-timing-function: $easein-back;
}



// Entrances
.fil-ani-is-hidden {
  opacity: 0;
  pointer-events: none;
}
// fadein
@keyframes fil-ani-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fil-ani-fadeIn {
  animation-name: fil-ani-fadeIn;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

// fadein-scaleup
@keyframes fil-ani-fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0) scale(0.8, 0.8);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
  // transition: transform 300ms ease, opacity 200ms ease;
.fil-ani-fadeInUp {
   animation-name: fil-ani-fadeInUp;
   animation-fill-mode: both;
   animation-timing-function: $easeout-back;
}

// fadein-moveleft

@keyframes fil-ani-fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fil-ani-fadeInLeft {
  animation-name: fil-ani-fadeInLeft;
  animation-fill-mode: both;
  animation-timing-function: $easeout-back;
}

@keyframes fil-ani-fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fil-ani-fadeInRight {
  animation-name: fil-ani-fadeInRight;
  animation-fill-mode: both;
  animation-timing-function: $easeout-back;
}

@keyframes fil-ani-FlipUp90  {
  from {
    // transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective($animation-perspective) translateY( 40% ) rotateX( -90deg );
    opacity: 0;
  }


  to {
    // transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    transform: perspective($animation-perspective) translateY( 0 ) rotateX( 0deg );
    opacity: 1;
  }
}
.fil-ani-parent-perspective {
  perspective: $animation-perspective;
}
.fil-ani-FlipUp90 {
  backface-visibility: hidden !important;
  animation-name: fil-ani-FlipUp90 ;
  animation-timing-function: ease;
  animation-fill-mode: both;
}


@keyframes fil-ani-FlipDown90  {
  from {
    // transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective($animation-perspective) translateY( -40% ) rotateX( 90deg );
    opacity: 0;
  }


  to {
    // transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    transform: perspective($animation-perspective) translateY( 0 ) rotateX( 0deg );
    opacity: 1;
  }
}
.fil-ani-parent-perspective {
  perspective: $animation-perspective;
}
.fil-ani-FlipDown90 {
  backface-visibility: hidden !important;
  animation-name: fil-ani-FlipDown90 ;
  animation-timing-function: ease;
  animation-fill-mode: both;
  &.reverse {
    animation-direction: reverse;
  }
}



// Exits

@keyframes fil-ani-fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fil-ani-fadeOut {
  animation-name: fil-ani-fadeOut;
  animation-fill-mode: both;
  animation-timing-function: ease;
}


@keyframes fil-ani-fadeOutDown {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 20%, 0) scale(0.8, 0.8);
  }
}

.fil-ani-fadeOutDown {
   animation-name: fil-ani-fadeOutDown;
   animation-fill-mode: both;
   animation-timing-function: $back-easein;
}


@keyframes fil-ani-fadeOutLeft {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);

  }
}

.fil-ani-fadeOutLeft {
  animation-name: fil-ani-fadeOutLeft;
  animation-fill-mode: both;
  animation-timing-function: $back-easein;
}

@keyframes fil-ani-fadeOutRight {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(30%, 0, 0);

  }
}

.fil-ani-fadeOutRight {
  animation-name: fil-ani-fadeOutRight;
  animation-fill-mode: both;
  animation-timing-function: $back-easein;
}


@keyframes fil-ani-FlipOutUp90  {
  from {

    transform: perspective($animation-perspective) translateY( 0 ) rotateX( 0deg );
    opacity: 1;
  }

  to {
    transform: perspective($animation-perspective) translateY( -40% ) rotateX( 90deg );
    opacity: 0;
  }
}

.fil-ani-FlipOutUp90 {
  backface-visibility: hidden !important;
  animation-name: fil-ani-FlipOutUp90 ;
  animation-timing-function: ease;
  animation-fill-mode: both;
}


@keyframes fil-ani-FlipOutDown90  {
  from {
    transform: perspective($animation-perspective) translateY( 0 ) rotateX( 0deg );
    opacity: 1;
  }


  to {
    transform: perspective($animation-perspective) translateY( 40% ) rotateX( -90deg );
    opacity: 0;
  }
}
.fil-ani-parent-perspective {
  perspective: $animation-perspective;
}
.fil-ani-FlipOutDown90 {
  backface-visibility: hidden !important;
  animation-name: fil-ani-FlipOutDown90 ;
  animation-timing-function: ease;
  animation-fill-mode: both;
}


/**
* ====== Card Flip Execute =======
*/

.fil-ani-container3d {
  position: relative;
  perspective: $animation-perspective;
}

.fil-ani-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  &.fil-ani-card__flipped {
    transform: translateZ( 0 ) translateX( 0 ) rotateY( 180deg );
  }
}

.fil-ani-card--front,
.fil-ani-card--back {
   margin: 0;
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;

}

.fil-ani-card--back {
  transform: rotateY( 180deg );

}

@keyframes fil-ani-FlipLeft180  {
  from {
    transform: translateZ( 0 ) translateX( 0 ) rotateY( 0deg );
  }

  45% {
    transform: translateZ( 150px ) translateX( 30% ) rotateY( -90deg );
  }

  to {
    transform: translateZ( 0 ) translateX( 0 ) rotateY( -180deg );

  }
}

.fil-ani-parent-perspective {
  perspective: $animation-perspective;
}

.fil-ani-FlipLeft180 {
  animation-name: fil-ani-FlipLeft180 ;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes fil-ani-FlipRight180  {
  from {
    transform: translateZ( 0 ) translateX( 0 ) rotateY( -180deg );
  }

  60% {
    transform: translateZ( 150px ) translateX( -20% ) rotateY( -90deg );
  }

  to {
    transform: translateZ( 0 ) translateX( 0 ) rotateY( 0deg );

  }
}

.fil-ani-FlipRight180 {
  animation-name: fil-ani-FlipRight180 ;
  animation-timing-function: linear;
  animation-fill-mode: both;
}



/**
* Enphasis
*/

@keyframes fil-ani-PulseScale {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.10, 1.10, 1.10);
  }

  45% {
    transform: scale3d(1, 1, 1);
  }

  70% {
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.fil-ani-PulseScale {
  animation-name: fil-ani-PulseScale;
  // animation-timing-function: linear;
  animation-fill-mode: both;
}


/**

* fadeout-scaledown
* fadeout-movedown-scaledown
* fadeout-moveup-scaleup (moved the UI towards the user past the screen, avoid?)

* fadeout-moveleft
* fadeout-moveright

* flipup-90
* flipdown-90

* flipdown-180

* flipright-180

* Emphasis
* pulse-scale
* pulse-outline
* light-flare
* spotlight
* flipdown-180
* flipleft-180
* flipright-180

* Execute
* move ( best left to JS animations )
* height ( best left to JS animations )
* buy-cta
* flash-secondary
* flash-primay
*/
