@import "resets/normalize";
@import "settings/variables";
@import "settings/fonts";
@import "tools/units";
@import "tools/mixins";
@import "settings/typography";
@import "helpers/colours";
@import "helpers/text";
@import "helpers/spacing";
@import "helpers/layout";
@import "helpers/decoration";
@import "atoms/buttons";
@import "animations/fil-animations";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.demo-box {
  width: 180px;
  height: 180px;
}
