@charset "UTF-8";
@font-face {
  font-family: 'Fidelity-Icon-Font';
  src: url("fontsicon-font/fidelity-icon-font.eot");
  src: url("fontsicon-font/fidelity-icon-font.eot#iefix") format("embedded-opentype"), url("fontsicon-font/fidelity-icon-font.woff2") format("woff2"), url("fontsicon-font/fidelity-icon-font.ttf") format("truetype"), url("fontsicon-font/fidelity-icon-font.woff") format("woff"), url("fontsicon-font/fidelity-icon-font.svg#fidelity-icon-font") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon--after:after,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  text-transform: none;
  font-family: 'Fidelity-Icon-Font' !important;
  line-height: 1 !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-transform: translate(0, -0.07em);
  transform: translate(0, -0.07em); }

.icon--after:before {
  display: none; }

.icon--match-size:before {
  font-size: inherit; }

.icon--xsmall:before {
  font-size: 12px; }

.icon--small:before {
  font-size: 24px; }

.icon--medium:before {
  font-size: 32px; }

.icon--large:before {
  font-size: 48px; }

.icon--xlarge:before {
  font-size: 64px; }

.icon-chevron-d-bold:before {
  content: ""; }

.icon-chevron-d-light:before {
  content: ""; }

.icon-chevron-d-regular:before {
  content: ""; }

.icon-chevron-l-bold:before {
  content: ""; }

.icon-chevron-l-light:before {
  content: ""; }

.icon-chevron-l-regular:before {
  content: ""; }

.icon-chevron-r-bold:before {
  content: ""; }

.icon-chevron-r-light:before {
  content: ""; }

.icon-chevron-r-regular:before {
  content: ""; }

.icon-chevron-u-bold:before {
  content: ""; }

.icon-chevron-u-light:before {
  content: ""; }

.icon-chevron-u-regular:before {
  content: ""; }

.icon-cross-bold:before {
  content: ""; }

.icon-cross-light:before {
  content: ""; }

.icon-cross-regular:before {
  content: ""; }

.icon-plus-bold:before {
  content: ""; }

.icon-plus-light:before {
  content: ""; }

.icon-plus-regular:before {
  content: ""; }

.icon-pdf-small:before {
  content: ""; }

.icon-external-link:before {
  content: ""; }

.icon-tick-bold:before {
  content: ""; }

.icon-tick-light:before {
  content: ""; }

.icon-tick-regular:before {
  content: ""; }

.icon-triangle-u:before {
  content: ""; }

.icon-triangle-d:before {
  content: "󩡓"; }

.icon-triangle-r:before {
  content: ""; }

.icon-triangle-l:before {
  content: ""; }

.icon-cog-14:before {
  content: ""; }

.icon-globe-14:before {
  content: ""; }

.icon-lock-14:before {
  content: ""; }

.icon-calendar-14:before {
  content: ""; }

.icon-coinstack-14:before {
  content: ""; }

.icon-medal-14:before {
  content: ""; }

.icon-calendar-plus-14:before {
  content: ""; }

.icon-person-filled-14:before {
  content: ""; }

.icon-search-14:before {
  content: ""; }

.icon-mappin-filled-14:before {
  content: ""; }

.icon-info-circle-filled-14:before {
  content: ""; }

.icon-info-circle-14:before {
  content: ""; }

.icon-warning-triangle-filled-14:before {
  content: ""; }

.icon-warning-triangle-14:before {
  content: ""; }

.icon-clock-14:before {
  content: ""; }

.icon-computer-14:before {
  content: ""; }

.icon-exit-left-14:before {
  content: ""; }

.icon-person-circle-filled-14:before {
  content: ""; }

.icon-download-14:before {
  content: ""; }

.icon-squares-overlap-14:before {
  content: ""; }

.icon-circle-arrow-back-14:before {
  content: ""; }

.icon-card-cvc:before {
  content: ""; }

.icon-clipboard-tick:before {
  content: ""; }

.icon-verified:before {
  content: ""; }

.icon-newspaper:before {
  content: ""; }

.icon-factsheet-full:before {
  content: ""; }

.icon-letter-open:before {
  content: ""; }

.icon-post:before {
  content: ""; }

.icon-spyglass:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-person:before {
  content: ""; }

.icon-account:before {
  content: ""; }

.icon-check-mail:before {
  content: ""; }

.icon-help-circle:before {
  content: ""; }

.icon-help:before {
  content: ""; }

.icon-person-lock:before {
  content: ""; }

.icon-lock-account:before {
  content: ""; }

.icon-letter:before {
  content: ""; }

.icon-messages:before {
  content: ""; }

.icon-smartphone:before {
  content: ""; }

.icon-mobile:before {
  content: ""; }

.icon-eye:before {
  content: ""; }

.icon-watchlist:before {
  content: ""; }

.icon-circle-tick:before {
  content: ""; }

.icon-confirm:before {
  content: ""; }

.icon-info-circle:before {
  content: ""; }

.icon-info:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-star-line:before {
  content: ""; }

.icon-star-filled:before {
  content: ""; }

.icon-star-fill:before {
  content: ""; }

.icon-ellipsis:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-warning-triangle-filled:before {
  content: ""; }

.icon-warning:before {
  content: ""; }

.icon-warning-circle-filled:before {
  content: ""; }

.icon-error:before {
  content: ""; }

.icon-chart-plus:before {
  content: ""; }

.icon-compare:before {
  content: ""; }

.icon-circle-minus:before {
  content: ""; }

.icon-contract:before {
  content: ""; }

.icon-circle-plus:before {
  content: ""; }

.icon-expand:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-export:before {
  content: ""; }

.icon-spyglass-chart:before {
  content: ""; }

.icon-factsheet:before {
  content: ""; }

.icon-printer:before {
  content: ""; }

.icon-print:before {
  content: ""; }

.icon-refresh:before {
  content: ""; }

.icon-cog:before {
  content: ""; }

.icon-settings:before {
  content: ""; }

.icon-person-plus:before {
  content: ""; }

.icon-account-add:before {
  content: ""; }

.icon-coins-sterling:before {
  content: ""; }

.icon-buy:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-add:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-chart:before {
  content: ""; }

.icon-market:before {
  content: ""; }

.icon-hand-coins:before {
  content: ""; }

.icon-sell:before {
  content: ""; }

.icon-globe:before {
  content: ""; }

.icon-booklet-chart:before {
  content: ""; }

.icon-report:before {
  content: ""; }

.icon-computer:before {
  content: ""; }

.icon-tick:before {
  content: ""; }

.icon-hand:before {
  content: ""; }

.icon-movie:before {
  content: ""; }

.icon-down-sort:before {
  content: ""; }

.icon-up-sort:before {
  content: ""; }

.icon-chevron-down-s:before {
  content: ""; }

.icon-chevron-up-s:before {
  content: ""; }

.icon-chevron-down-m:before {
  content: ""; }

.icon-chevron-up-m:before {
  content: ""; }

.icon-menu-burger:before {
  content: ""; }

.icon-no-entry:before {
  content: ""; }

.icon-square:before {
  content: ""; }

.icon-line:before {
  content: ""; }

.icon-droplet:before {
  content: ""; }

.icon-droplet-line:before {
  content: ""; }

.icon-droplet-filled:before {
  content: ""; }

.icon-droplet-fill:before {
  content: ""; }

.icon-droplet-alt:before {
  content: ""; }

.icon-droplet-alt-line:before {
  content: ""; }

.icon-droplet-alt-filled:before {
  content: ""; }

.icon-droplet-alt-fill:before {
  content: ""; }

.icon-circle-right:before {
  content: ""; }

.icon-circle-wave:before {
  content: ""; }

.icon-circle-zig:before {
  content: ""; }

.icon-piggybank:before {
  content: ""; }

.icon-saving:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-quantitative:before {
  content: ""; }

.icon-hand-point:before {
  content: ""; }

.icon-exit-right:before {
  content: ""; }

.icon-exit:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-person-help:before {
  content: ""; }

.icon-other-account:before {
  content: ""; }

.icon-lock-tick:before {
  content: ""; }

.icon-leaf:before {
  content: ""; }

.icon-computer-tick:before {
  content: ""; }

.icon-smartphone-chatbubble:before {
  content: ""; }

.icon-sms-alert:before {
  content: ""; }

.icon-coinstack-cog:before {
  content: ""; }

.icon-edit-income-settings:before {
  content: ""; }

.icon-chevron-left-m:before {
  content: ""; }

.icon-chevron-right-m:before {
  content: ""; }

.icon-pencil:before {
  content: ""; }

.icon-tag:before {
  content: ""; }

.icon-medal:before {
  content: ""; }

.icon-awards:before {
  content: ""; }

.icon-bookmark-star:before {
  content: ""; }

.icon-favourites:before {
  content: ""; }

.icon-smartphone-flip:before {
  content: ""; }

.icon-mobile-flip:before {
  content: ""; }

.icon-back:before {
  content: ""; }

.icon-forward:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-stop:before {
  content: ""; }

.icon-play:before {
  content: ""; }

.icon-map-pin:before {
  content: ""; }

.icon-doc-spyglass:before {
  content: ""; }

.icon-view-docs:before {
  content: ""; }

.icon-doc-pdf:before {
  content: ""; }

.icon-pdf:before {
  content: ""; }

.icon-hand-docs:before {
  content: ""; }

.icon-compare-file:before {
  content: ""; }

.icon-doc-stacked:before {
  content: ""; }

.icon-group:before {
  content: ""; }

.icon-pencil-lock:before {
  content: ""; }

.icon-lock-edit:before {
  content: ""; }

.icon-paperclip:before {
  content: ""; }

.icon-attach:before {
  content: ""; }

.icon-coinstack:before {
  content: ""; }

.icon-currency:before {
  content: ""; }

.icon-controlpanel:before {
  content: ""; }

.icon-expand-filters:before {
  content: ""; }

.icon-browser-plus:before {
  content: ""; }

.icon-new-window:before {
  content: ""; }

.icon-chevron-right-s:before {
  content: ""; }

.icon-chevron-left-s:before {
  content: ""; }

.icon-circle-filled:before {
  content: ""; }

.icon-circle-fill:before {
  content: ""; }

.icon-circle-dashed:before {
  content: ""; }

.icon-circle-empty:before {
  content: ""; }

.icon-bookmark-star-filled:before {
  content: ""; }

.icon-favourites-filled:before {
  content: ""; }

.icon-doc-csv:before {
  content: ""; }

.icon-csv:before {
  content: ""; }

.icon-logo-facebook:before {
  content: ""; }

.icon-logo-twitter:before {
  content: ""; }

.icon-logo-xing:before {
  content: ""; }

.icon-logo-googleplus:before {
  content: ""; }

.icon-logo-linkedin:before {
  content: ""; }

.icon-logo-youtube:before {
  content: ""; }

.icon-messages-filled:before {
  content: ""; }

.icon-openbook:before {
  content: ""; }

.icon-doc-chevron-r:before {
  content: ""; }

.icon-doc-arrow-d:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-share-filled:before {
  content: ""; }

.icon-person-double:before {
  content: ""; }

.icon-chatbubble:before {
  content: ""; }

.icon-chatbubble-letter:before {
  content: ""; }

.icon-chatbubble-letter-filled:before {
  content: ""; }

.icon-calendar-circle-plus:before {
  content: ""; }

.icon-mappin-filled:before {
  content: ""; }

.icon-coins-plus:before {
  content: ""; }

.icon-coins-minus:before {
  content: ""; }

.icon-arrows-left-right:before {
  content: ""; }

.icon-abc-blocks:before {
  content: ""; }

.icon-beach-umbrella:before {
  content: ""; }

.icon-piggybank-alt:before {
  content: ""; }

.icon-three-people:before {
  content: ""; }

.icon-circle-arrow-back:before {
  content: ""; }

.icon-circle-minus-filled:before {
  content: ""; }

.icon-circle-plus-filled:before {
  content: ""; }
