{% extends "layouts/main.html" %}

{% block content %}
<p>Motion</p>
<div class="rhythmic  gutted  bg-grey15 ">
    <div class="bg-grey60  assemblyDemo  assemblyDemo__motion  dur-3000"></div>
</div>

<div class="rhythmic  gutted  bg-grey15 ">
    <div class="bg-grey60  assemblyDemo  assemblyDemo__rotate  dur-3000"></div>
</div>

<p>Scale</p>
<div class="rhythmic  gutted  bg-grey15 ">
    <div class="bg-grey60  assemblyDemo  assemblyDemo__scale  dur-3000"></div>
</div>

<p>Opacity</p>
<div class="rhythmic  gutted  bg-grey15 ">
    <div class="bg-grey60  assemblyDemo  assemblyDemo__opacity  dur-2000"></div>
</div>

<p>Colour</p>
<div class="rhythmic  gutted  bg-grey15 ">
    <div class="bg-grey60  assemblyDemo  assemblyDemo__colour  dur-2000"></div>
</div>

<p>3D rotations</p>
<div class="rhythmic  gutted  bg-grey15 container3d">
    <div class="assemblyDemo assemblyDemo__3dcube dur-3000">
        <div class="bg-grey60 assemblyDemo assemblyDemo__3dface"></div>
    </div>
</div>

{% endblock %}
