{% extends "layouts/main.html" %}

{% block content %}

<h2>Entrances</h2>
<div class="rhythmic  gutted">
    <h3>FadeIn</h3>
    <div class="inline-block  gutted-3x  rhythmic-3x  bg-grey60  text-white h4  fil-ani-is-hidden  js-target1">FadeIn</div>
    <button type="button" name="button" class="rhythmic-m  gutted-m inline-block  js-trigger1">Animate</button>
</div>

<div class="rhythmic  gutted">
    <h3>FadeInUp</h3>
    <div class="inline-block  gutted-3x  rhythmic-3x  bg-grey60  text-white h4  fil-ani-is-hidden  js-target2">FadeInUp</div>
    <button type="button" name="button" class="rhythmic-m  gutted-m inline-block  js-trigger2">Animate</button>
</div>

<div class="rhythmic  gutted">
    <h3>FadeInLeft</h3>
    <div class="inline-block  gutted-3x  rhythmic-3x  bg-grey60  text-white h4  fil-ani-is-hidden  js-target3">FadeInLeft</div>
    <button type="button" name="button" class="rhythmic-m  gutted-m inline-block  js-trigger3">Animate</button>
</div>

<div class="rhythmic  gutted">
    <h3>FadeInRight</h3>
    <div class="inline-block  gutted-3x  rhythmic-3x  bg-grey60  text-white h4  fil-ani-is-hidden  js-target4">FadeInRight</div>
    <button type="button" name="button" class="rhythmic-m  gutted-m inline-block  js-trigger4">Animate</button>
</div>

{% endblock %}
