{% extends "layouts/main.html" %}

{% block content %}

<h2 class="gutted">Entrances</h2>
<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeIn</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-fil-ani-fadeIn-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeIn-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeInScaleUp</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-fil-ani-fadeInScaleUp-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeInScaleUp-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeInScaleDown</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-fil-ani-fadeInScaleDown-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeInScaleDown-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeInUp</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-fil-ani-fadeInUp-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeInUp-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeInDown</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-fil-ani-fadeInDown-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeInDown-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeInLeft</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-fil-ani-fadeInLeft-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeInLeft-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeInRight</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-fil-ani-fadeInRight-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeInRight-trigger">Start/Reset</button>
</div>


<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FlipUp90</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden js-fil-ani-FlipUp90-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-FlipUp90-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FlipDown90</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-fil-ani-FlipDown90-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-FlipDown90-trigger">Start/Reset</button>
</div>


<h2 class="gutted">Exits</h2>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeOut</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-fadeOut-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeOut-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-fadeOutScaleDown</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-fadeOutScaleDown-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeOutScaleDown-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-fadeOutScaleUp</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-fadeOutScaleUp-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeOutScaleUp-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-fadeOutUp</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-fadeOutUp-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeOutUp-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-fadeOutDown</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-fadeOutDown-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeOutDown-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeOutLeft</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-fadeOutLeft-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeOutLeft-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FadeOutRight</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-fadeOutRight-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-fadeOutRight-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FlipOutUp90</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-FlipOutUp90-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-FlipOutUp90-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FlipOutDown90</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-FlipOutDown90-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-FlipOutDown90-trigger">Start/Reset</button>
</div>


<h2 class="gutted">Emphasis</h2>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-PulseScale</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-PulseScale-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-PulseScale-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-PulseOutline</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-PulseOutline-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-PulseOutline-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-Shake</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-Shake-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-Shake-trigger">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-Spotlight</h5>
    <div class="block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-fil-ani-Spotlight-target"></div>
    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-Spotlight-trigger">Start/Reset</button>
</div>

<h2 class="gutted">Execute</h2>

<div class="rhythmic  gutted  inline-block">
    <h5>fil-ani-FlipLeft180</h5>
    <div class="block  demo-box  text-white   h5 fil-ani-container3d">
        <div class="js-fil-ani-FlipLeft180-target  fil-ani-card">
            <div class="fil-ani-card--front  gutted  rhythmic  bg-grey25">Front</div>
            <div class="fil-ani-card--back  gutted  rhythmic  bg-grey60">Back</div>
        </div>
    </div>

    <button type="button" name="button" class="rhythmic-m  btn  btn-tertiary  block  js-fil-ani-FlipLeft180-trigger">Start/Reset</button>
</div>


<div class="overlay fil-ani-is-hidden js-overlay-target"></div>
{% endblock %}
