{% extends "layouts/main.html" %}

{% block content %}

<h2 class="gutted">Entrances</h2>
<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FadeIn</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-target1">FadeIn</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger1">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FadeInUp</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-target2">FadeInUp</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger2">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FadeInLeft</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-target3">FadeInLeft</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger3">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FadeInRight</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-target4">FadeInRight</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger4">Start/Reset</button>
</div>


<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FlipUp90</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden js-target5">fil-ani-FlipUp90</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger5">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FlipDown90</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  fil-ani-is-hidden  js-target6">fil-ani-FlipDown90</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger6">Start/Reset</button>
</div>

<!-- <div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FlipLeft180</h4>
    <div class="block  demo-box  text-white   h5 fil-ani-container3d">
        <div class="js-target7  fil-ani-card">
            <div class="fil-ani-card--front  gutted  rhythmic   bg-grey25">card--front</div>
            <div class="fil-ani-card--back  gutted  rhythmic   bg-grey60">card--back</div>
        </div>
    </div>

    <button type="button" name="button" class="rhythmic-m  block  js-trigger7">Start/Reset</button>
</div> -->


<h2 class="gutted">Exits</h2>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FadeOut</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-target8">FadeOut</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger8">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FadeOutDown</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-target9">FadeOutDown</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger9">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FadeOutLeft</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-target10">fil-ani-FadeOutLeft</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger10">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FadeOutRight</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-target11">fil-ani-FadeOutRight</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger11">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FlipOutUp90</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-target12">fil-ani-FlipOutUp90</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger12">Start/Reset</button>
</div>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FlipOutDown90</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-target13">fil-ani-FlipOutDown90</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger13">Start/Reset</button>
</div>


<h2 class="gutted">Enphasis</h2>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-PulseScale</h4>
    <div class="inline-block  gutted  rhythmic  demo-box  bg-grey60  text-white  h5  js-target15">fil-ani-PulseScale</div>
    <button type="button" name="button" class="rhythmic-m  block  js-trigger15">Start/Reset</button>
</div>


<h2 class="gutted">Execute</h2>

<div class="rhythmic  gutted  inline-block">
    <h4>fil-ani-FlipLeft180</h4>
    <div class="block  demo-box  text-white   h5 fil-ani-container3d">
        <div class="js-target14  fil-ani-card">
            <div class="fil-ani-card--front  gutted  rhythmic  bg-grey25">card--front</div>
            <div class="fil-ani-card--back  gutted  rhythmic  bg-grey60">card--back</div>
        </div>
    </div>

    <button type="button" name="button" class="rhythmic-m  block  js-trigger14">Start/Reset</button>
</div>

{% endblock %}
