{% extends "layouts/main.html" %}

{% block content %}


<div class="gutted">

    <div class="rhythmic-m msg msg__toast msg__info">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__toast msg__warning">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__toast msg__error">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__toast msg__confirm">

        <span class="msg--txt  msg--txt__title">
            <strong>Added investment to Table</strong>
        </span>

        <span class="msg--txt  msg--txt__body">ISDL Europe hydro.</span>

        <div class="msg--txt__btns">
            <a href="" class="btn  btn-tertiary  btn--small  js-scrollToTable">Show table</a>
        </div>

    </div>

    <div class="rhythmic-m msg msg__tooltip msg__shadow msg__info">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__tooltip msg__shadow msg__warning">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__tooltip msg__shadow msg__error">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__tooltip msg__shadow msg__confirm">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__tooltip msg__info msg--triangle-arrow msg--triangle-arrow__top">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__tooltip msg__warning msg--triangle-arrow msg--triangle-arrow__left">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__tooltip msg__error msg--triangle-arrow msg--triangle-arrow__bottom">
        <span class="msg--txt">Text</span>
    </div>

    <div class="rhythmic-m msg msg__tooltip msg__confirm msg--triangle-arrow msg--triangle-arrow__left">
        <span class="msg--txt">Text</span>
    </div>

</div>

{% endblock %}
