{% extends "layouts/main.html" %}

{% block content %}

<div class="gutted rhythmic rhythm-m-2">
    <div class="block  gutted  rhythmic  demo-box-tooltip  bg-grey60">
        <div class="demo-tooltip msg msg__tooltip msg__shadow msg__info msg--triangle-arrow msg--triangle-arrow__top js-tooltip-target is-hidden js-tooltip__is-closed">
            <span class="msg--txt">You username can also be your email address.</span>

        </div>
    </div>

</div>


<div class="gutted demoButtons rhythmic">
    <a class="btn  btn-tertiary  js-enter-button js-tooltip-enter-trigger">Enter</a>
    <a class="btn  btn-tertiary  js-exit-button  disabled  js-tooltip-exit-trigger">Exit</a>
</div>

{% endblock %}
