.text-link-cta {
    position: relative;
    padding-right: 1em;
    color: $blue2;
    text-decoration: none;

    &:after {
        @extend %icon-font;
        @extend %icon-chevron-r-regular;
        display: inline-block;
        // position: absolute;
        // top: 50%; right: 0;
        // transform: translateY( -50% );
        // transform: translateX( 0 );
        font-size: 12px;
        text-decoration: none;
        padding-left: 5px;

        transition: ease 0.3s transform;
    }

    &:hover {
        color: $blue1;
        &:after {
            transform: translate( 2px, -0.07em );
        }
    }

}
